.navi {
  display: flex;
  margin-left: 50px;
  /* margin-left: 0px; */
  flex-direction: column;
}

.navi-logo {
  justify-content: center;
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.navi a {
  color: #45445a;
  /* color: #f15f0a; */
  font-weight: 600;
  font-family: "Bellota Text", sans-serif;
  font-size: 1.1em;
  line-height: 2.8em;
}

.texttt {
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.adm > div {
  margin: 0;
}

.colss > div {
  padding: 0px;
}
.text-top h3 {
  padding-top: 12px;
  padding-left: 30px;
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
  margin-top: 0;
  font-family: "Bellota Text", sans-serif;
  font-size: 1.75rem;
}

/*1111111111111111111  */

/* .formfactor p {
  display: inline;
} */
.admin-right {
  padding-left: 30px;
  padding-top: 30px;
}
.admin-right h1 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
  font-family: "Bellota Text", sans-serif;
  font-size: 2.5rem;
}

.add-client-form p {
  margin-top: 16px;
  margin-bottom: 0;
}
.add-client-form input {
  width: 400px;
}
#button {
  margin-top: 30px;
}
/*------------------------------------------------
			   08. FOOTER CSS
------------------------------------------------*/
.admin-bottom-text {
  /*color: #7e7e7e;*/
  font-size: 12px;
  color: rgb(134, 134, 134);
  background: rgb(241, 241, 241);
}

footer div {
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
}

.admin-bottom-text a {
  text-decoration: none;
  font-size: 10px;
  color: rgb(134, 134, 134);
  transition: all 0.9s ease;
}

.admin-bottom-text p {
  text-align: center;
  margin: 30px 0px 0px 0px;
  padding: 31px 0px;
}
/*------------------------------------------------
			   08.таблица клиентов
------------------------------------------------*/
/* .admin-right table {
  line-height: 1;
  padding: 0;
} */
.button-log a {
  background: #c4d114;
  color: #fff;
  width: 218px;
  display: block;
  text-align: center;
  font-weight: 600;
  font-size: 1.1em;
  transition: all 0.5s ease;
  text-decoration: none;
  border: 2px solid #c4d114;
  border-radius: 10px;
}
