.login p {
  margin-top: 5px;
  margin-bottom: 0;
}
/* .get-panelad form {
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
} */
.twobutt {
  margin-bottom: 30px;
}
.get-panelad h3 {
  margin-top: 30px;
}
.loginprew p {
  text-align: center;
}
.exitbut a {
  background: #1659bd;
}
