.login p {
  margin-top: 5px;
  margin-bottom: 0;
}
/* .get-panelad form {
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
} */
.twobutt {
  margin-bottom: 30px;
}
.get-panelad h3 {
  margin-top: 30px;
}
.loginprew p {
  text-align: center;
}
.exitbut a {
  background: #1659bd;
}
.button-log a {
  background: #c4d114;
  color: #fff;
  width: 218px;
  display: block;
  text-align: center;
  font-weight: 600;
  font-size: 1.1em;
  transition: all 0.5s ease;
  text-decoration: none;
  border: 2px solid #c4d114;
  border-radius: 10px;
}
