/*==================================================
 Site Name: Gym
 Description: Site about Gym
 Author: @ivanvasenkov swayket@yandex.ru
==================================================*/

/*TABLE OF CONTENTS*/
/*==================================================
00. BASE TYPOGRAPHY
01. HEADER TOP CSS
02. NAV SECTION CSS
03. SECOND SECTION CSS
04. EVENT SECTION CSS
05. REASONS SECTION CSS
06. GET BACK FORM CSS
07. WHERE CSS
08. FOOTER CSS
...
==================================================*/

/*------------------------------------------------
			   00. BASE TYPOGRAPHY
------------------------------------------------*/
body {
  font-family: "Neucha", "Bellota Text", sans-serif;
  font-family: "Bellota Text", sans-serif;
}

/*------------------------------------------------
			   01. HEADER TOP CSS
------------------------------------------------*/
.fas,
.far {
  color: #c4d114;
  font-size: 0.7em;
}

header {
  background-color: #f5f6f7;
  color: #8a8a8a;
  border-bottom: 2px solid rgba(222, 222, 222, 0.2);
}

header p,
a {
  color: #8a8a8a;
  display: inline;
  font-size: 0.875em;
  font-weight: 500;
  line-height: 2.8em;
  transition-duration: 0.5s;
}

header a:hover {
  text-decoration: none;
  color: #c4d114;
}

.header-time-num {
  display: flex;
  justify-content: flex-end;
}

#time {
  margin-right: 30px;
}

@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (min-width: 576px) and (max-width: 767px) {
  #time {
    margin-right: 15px;
  }

  header p,
  a {
    color: #8a8a8a;
    display: inline;
    font-size: 0.775em;
    font-weight: 500;
    line-height: 2.8em;
  }

  .cent > div {
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 575px) {
  #time {
    margin-right: 15px;
  }

  header p,
  header a {
    color: #8a8a8a;

    display: inline;
    font-size: 0.775em;
    font-weight: 500;
    line-height: 0em;
  }

  .cent > div {
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
  }

  .header-time-num {
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
  }
}

/*------------------------------------------------
			   02. NAV SECTION CSS
------------------------------------------------*/
.nav-section {
  margin: 15px 0;
}

.nav-section img {
  width: 170px;
}

.menuuu,
.nav-section__row {
  display: flex;
  align-items: center;
}

.menuuu a {
  color: #45445a;
  margin-left: 1.6em;
  font-weight: 600;
  font-size: 1.1em;
  text-decoration: none;
  transition: all 0.5s ease;
}

.menuuu a:hover {
  color: #c4d114;
  font-size: 1.1em;
  border-top: 1px solid #c4d114;
  border-bottom: 1px solid #c4d114;
}

.button-log a {
  background: #c4d114;
  color: #fff;
  width: 218px;
  display: block;
  text-align: center;
  font-weight: 600;
  font-size: 1.1em;
  transition: all 0.5s ease;
  text-decoration: none;
  border: 2px solid #c4d114;
  border-radius: 10px;
}

.button-log a:hover {
  background: #ffffff;
  color: #c4d114;
  display: block;
  text-align: center;
}

.button-log-nav {
  display: flex;
  justify-content: flex-end;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .menuuu a {
    color: #45445a;
    margin-left: 0.5em;
    font-weight: 600;
    font-size: 1.1em;
    text-decoration: none;
    transition: all 0.5s ease;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .menuuu a {
    color: #45445a;
    margin-left: 1.1em;
    line-height: 2.5;
    font-weight: 600;
    font-size: 1.1em;
    text-decoration: none;
    transition: all 0.5s ease;
  }
  .menuuu {
    display: flex;
  }

  .nav-section__row div {
    justify-content: center;
    display: flex;
    align-items: center;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .menuuu {
    display: flex;
  }

  .nav-section__row div {
    justify-content: center;
    display: flex;
    align-items: center;
  }
  .button-log-nav div {
    display: none;
  }
}

@media (max-width: 575px) {
  .menuuu {
    display: flex;
  }

  .nav-section__row div {
    justify-content: center;
    display: flex;
    align-items: center;
  }
  .button-log-nav div {
    display: none;
  }
  nav a {
    display: none;
  }
}

@media (max-width: 390px) {
}
/*------------------------------------------------
			   2.5 карусель
------------------------------------------------*/

.car p {
  font-size: 1.5em;
}

@media (min-width: 768px) and (max-width: 991px) {
  .car p {
    font-size: 1.2em;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
}

@media (max-width: 575px) {
}

@media (max-width: 390px) {
}
/*------------------------------------------------
			   03. SECOND SECTION CSS
------------------------------------------------*/
.second {
  padding: 1.35em;
}

h4 {
  margin: 1.67em 0 0.6em 0;
  color: #45445a;
  font-weight: bold;
}

.icon-1 {
  font-size: 6em;
  background: #554c86;
  color: #fff;
  transition: all 0.5s ease;
  border-radius: 1em;
  width: 1.7em;
  height: 1.7em;
  text-align: center;
  padding-top: 34px;
  margin-left: auto;
  margin-right: auto;
}
.icon-2 {
  font-size: 6em;
  background: #8dd0d3;
  color: #fff;
  transition: all 0.5s ease;
  border-radius: 1em;
  width: 1.7em;
  height: 1.7em;
  text-align: center;
  padding-top: 34px;
  margin-left: auto;
  margin-right: auto;
}
.icon-3 {
  font-size: 6em;
  background: #c4d114;
  color: #fff;
  transition: all 0.5s ease;
  border-radius: 1em;
  width: 1.7em;
  height: 1.7em;
  text-align: center;
  padding-top: 34px;
  margin-left: auto;
  margin-right: auto;
}

.icon-1:hover,
.icon-2:hover,
.icon-3:hover {
  background: rgb(255, 255, 255);
  color: #8a8a8a;
}

.second-title h1 {
  margin-top: 1.3em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #45445a;
  font-size: 3.238em;
  line-height: 1.1em;
  font-weight: 400;
  margin-bottom: 0.47em;
}
.second-title p {
  text-align: center;
  font-size: 1.25em;
  line-height: 1.5em;
  color: #8a8a8a;
}

.second-img img {
  height: 50px;
}

.second {
  text-align: center;
}

@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (min-width: 576px) and (max-width: 767px) {
}

@media (max-width: 575px) {
  .second h1 {
    font-size: 2em;
  }
  .second-title p {
    text-align: center;
    font-size: 1em;
    line-height: 1.5em;
    color: #8a8a8a;
  }
}

@media (max-width: 390px) {
}
/*------------------------------------------------
			   04. EVENT SECTION CSS
------------------------------------------------*/
.event1 {
  background: #463e77;
  padding: 3em 0px;
}

.event1 > div {
  margin: 0px;
}

.event > div {
  margin: 0px;
}
.event ul {
  list-style: none;
  padding: 0em;
}
.event ul li {
  font-size: 0.874em;
  line-height: 2.05em;
  color: #fff;
}

.event-date p {
  color: #c4d114;
  line-height: 1.3em;
  font-weight: 600;
  font-size: 1em;
  margin-top: 0.5em;
}
.event-name h2 {
  font-size: 2.8em;
  line-height: 1.3em;
  font-weight: 400;
  color: #fff;
}

.event2 {
  background: url(https://raw.githubusercontent.com/VASENKOVIVAN/gym.website/master/img/yoga.jpg)
    no-repeat center top / cover;
  /* background: url(/img/yoga.jpg) no-repeat center top / cover; */
}
@media (max-width: 575px) {
  .event-name h2 {
    font-size: 2em;
    line-height: 1.3em;
    font-weight: 400;
    color: #fff;
  }
  .event ul li {
    font-size: 0.704em;
    line-height: 2.05em;
    color: #fff;
  }
}

@media (max-width: 390px) {
}
/*------------------------------------------------
			   05. REASONS SECTION CSS
------------------------------------------------*/
.reasons {
  background: rgba(244, 245, 246, 0.9)
    url(http://yogastudio.ancorathemes.com/wp-content/uploads/2015/11/Layer-44.png?id=1482) !important;
  background-repeat: no-repeat;
  background-position: center;
}
.reasons {
  background-position: center 75% !important;
  background-repeat: no-repeat !important;
}

.reasons h1 {
  margin-top: 1.3em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #45445a;
  font-size: 3.238em;
  line-height: 1.1em;
  font-weight: 400;
  margin-bottom: 0.47em;
}

.reasons div {
  /* border: 3px solid red; */
}

.icon-4 {
  font-size: 2em;
  background: #c4d114;
  color: #fff;
  transition: all 0.5s ease;
  border-radius: 1em;
  width: 2em;
  height: 2em;
  text-align: center;
  padding-top: 14px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.reas {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reasrow div {
  margin: 20px 0px;
}

.reasrow i {
  margin: 15px;
}

.left {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
}

.right {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media (min-width: 576px) and (max-width: 767px) {
  .reasrow div {
    margin: 5px 0px;
  }

  .reasons {
    background-position: center -500% !important;
    background-repeat: no-repeat !important;
  }
}

@media (max-width: 575px) {
  .reasrow div {
    margin: 5px 0px;
  }

  .reasons {
    background-position: center -500% !important;
    background-repeat: no-repeat !important;
  }
  .reasons h1 {
    margin-top: 1.3em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #45445a;
    font-size: 2.238em;
    line-height: 1.1em;
    font-weight: 400;
    margin-bottom: 0.47em;
  }
}
/*------------------------------------------------
			   06. GET BACK FORM CSS
------------------------------------------------*/
.response {
  background-image: url(../img/bg3.webp);
}

.response__form {
  margin: 45px 0;
}

.response h1 {
  text-align: center;
  padding-top: 45px;
  color: #fff;
}

.response label,
.response p {
  color: #fff;
}

.twobutt {
  justify-content: center;
  display: flex;
  align-items: center;
}

.twobutt input {
  background: #c4d114;
  color: #fff;
  width: 218px;
  display: block;
  text-align: center;
  font-weight: 600;
  font-size: 1.1em;
  transition: all 0.5s ease;
  text-decoration: none;
  border: 2px solid #c4d114;
  border-radius: 10px;
  height: 50px;
}

.twobutt input:hover {
  background: #ffffff;
  color: #c4d114;
  display: block;
  text-align: center;
}

@media (min-width: 576px) and (max-width: 767px) {
}

@media (max-width: 575px) {
}

/*------------------------------------------------
			   07. WHERE CSS
------------------------------------------------*/
.where a {
}
/*------------------------------------------------
			   08. FOOTER CSS
------------------------------------------------*/
footer {
  /*color: #7e7e7e;*/
  font-size: 10px;
  color: rgb(134, 134, 134);
  background: rgb(241, 241, 241);
}

footer div {
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
}

footer div p {
  margin: 51px;
}

footer a {
  text-decoration: none;
  font-size: 10px;
  color: rgb(134, 134, 134);
  transition: all 0.9s ease;
}

/*------------------------------------------------
			   
------------------------------------------------*/
/*----------Бургер start------------------*/
.hamburger-menu a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

@media (min-width: 575px) {
  .hamburger-menu ul,
  .hamburger-menu input,
  .hamburger-menu label {
    display: none;
  }
}
@media (max-width: 575px) {
  .menuuu {
    /* display: none; */
  }
}
@media (max-width: 575px) {
  #menu__toggle {
    opacity: 0;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }

  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 103px;
    left: 20px;

    width: 26px;
    height: 26px;

    cursor: pointer;
    z-index: 25;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;

    width: 100%;
    height: 2px;

    background-color: #c4d114;

    transition-duration: 0.25s;
  }
  .menu__btn > span::before {
    content: "";
    top: -8px;
  }
  .menu__btn > span::after {
    content: "";
    top: 8px;
  }

  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    z-index: 20;

    width: 200px;
    height: 100%;

    margin: 0;
    padding: 180px 0;

    list-style: none;

    background-color: #45445a;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);

    transition-duration: 0.25s;
  }

  .menu__item {
    display: block;
    padding: 0px 24px;

    color: rgb(253, 253, 253);

    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 600;

    text-decoration: none;

    transition-duration: 0.25s;
  }
  .menu__item:hover {
    background-color: #c4d114;
  }
}
@media (max-width: 408px) {
  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 108px;
    left: 20px;

    width: 26px;
    height: 26px;

    cursor: pointer;
    z-index: 25;
  }
}
@media (max-width: 289px) {
  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 175px;
    left: 20px;

    width: 26px;
    height: 26px;

    cursor: pointer;
    z-index: 2;
  }
}
/*----------Бургер end------------------*/
